.main-block{
  background: linear-gradient( #1b5f64a8, rgb(230 221 221 / 30%) ), url('../../images/vertical.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
}
