.who-we-are__card-subtitle{
  font-family: 'Montserrat',Arial,sans-serif;
    line-height: 1.6;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    font-size: 20px;

}