@import url(./blocks/title/title.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/input-field/input-field.css);
@import url(./blocks/main-block/main-block.css);
@import url(./blocks/who-we-are/who-we-are.css);
@import url(./blocks/services/services.css);
@import url(./blocks/why-we/why-we.css);
@import url(./blocks/partners/partners.css);
@import url(./blocks/leave-contacts/leave-contacts.css);


a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
 }

 .btn{
  background: #574DD8
 }

 .btn:hover{
  background: #7972D8

 }

 input:focus {
  border-bottom: 1px solid royalblue !important;
  box-shadow: 0 1px 0 0 royalblue !important;
}

label.active {
  color: royalblue !important;
}
.input-field .prefix.active{
  color: #352F85 !important;
}