@import url(./blocks/title/title.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/input-field/input-field.css);
@import url(./blocks/main-block/main-block.css);
@import url(./blocks/who-we-are/who-we-are.css);
@import url(./blocks/services/services.css);
@import url(./blocks/why-we/why-we.css);
@import url(./blocks/partners/partners.css);
@import url(./blocks/leave-contacts/leave-contacts.css);
@import url(./blocks/contacts/contacts.css);
@import url(./blocks/footer/footer.css);


a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
 }

 .btn{
  background: crimson
 }

 .btn:hover{
  background: #7972D8

 }

