@import url(./__text-logo/header__text-logo.css);
@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__ofc-link/header__ofc-link.css);
@import url(./__ofc-icon/header__ofc-icon.css);

.header {
  max-width: 1440px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto 0px auto;
  justify-content: center;
  align-items: baseline;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  flex-wrap: wrap;
}
